<!DOCTYPE HTML>
<html>
	<head>
		<title>방명록</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">
        <!-- Header -->
            <div id="header">
            <!-- Logo -->
                <h1><a href="./" id="logo">Developer Joon <em>Resume Page!</em></a></h1>
            <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="./">메인</a></li>
                        <li><a href="./myways">지나온 여정</a></li>
                        <li class="current"><a href="./guestbook">방명록(작업중)</a></li>
                        <li><a href="./scraping">스크래핑</a></li>
                    </ul>
                </nav>
            </div>

				<!-- my ways -->
				<section class="wrapper style2">
					<div class="container">
						<h2>방명록</h2>
						<hr>
						<section class="col-6 col-12-narrower">
								<div class="row gtr-50">
									<div class="col-6 col-12-mobilep" style="width: 10em;">
										<input type="text" name="name" id="name" placeholder="작성자" value="원준" />
									</div>
									<div class="col-6 col-12-mobilep" style="width: 30em;">
										<input type="text" name="comment" id="comment" placeholder="남기고 싶은 말" value="안녕~" />
									</div>
									<div class="col-12 col-12-mobilep" style="width: 10em;">
										<ul class="actions">
											<li><input type="button" class="button alt" value="남기기" onclick="insert_comment();"/></li>
										</ul>
									</div>
								</div>
						</section>
						<div id="content">
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>작성자</th>
											<th colspan="2">내용</th>
											<th>작성일</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
            <div id="footer">
				<!-- Copyright -->
				<div class="copyright">
					<ul class="menu">
						<li>이 페이지는 CSS TEMPLATE을 커스텀하여 제작하였습니다.</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/guestbook.js"></script>
	</body>
</html>